* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Permanent Marker", cursive;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}
a {
  text-decoration: none;
}
td {
  padding: 6px 2px;
}
#loading-alert,
#user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  flex-wrap: wrap;
}
#avatar {
  width: 120px;
  height: 120px;
  margin-right: 25px;
  border-radius: 6px;
}
#root {
  display: none;
}
#repos table {
  padding: 0px 6px;
  border-collapse: collapse;
}
@keyframes focused-link {
  0% {
    color: hotpink;
    text-shadow: 1px 1px 2px black;
  }
  25% {
    color: green;
    text-shadow: 1px 1px 2px mediumspringgreen;
  }
  50% {
    color: wheat;
    text-shadow: 1px 1px 2px royalblue;
  }
  75% {
    color: red;
    text-shadow: 1px 1px 2px coral;
  }
  100% {
    color: blue;
    text-shadow: 1px 1px 2px mediumslateblue;
  }
}
#repos table tr:hover,
#repos table tr:focus {
  border: 1px solid black;
  border-left: none;
  border-right: none;
  background: #ddb6e685;
  color: teal;
  text-shadow: 1px 1px 1px black;
}
#repos table tr:hover a,
#repos table tr:focus a {
  animation-name: focused-link;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
